page-code {

    h2{
        color: #06C9F7
    }

    h3{
        color: #06C9F7
    }

    ion-card {
        position: relative;
        text-align: center;
      }
    
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #06C9F7;
      }

      .card-title2 {
        position: absolute;
        top: 56%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #06C9F7;
      }
    
}
